.sidebar-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar-p {
  text-align: right;
  width: 70%;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 12px;
}

.sidebar-nav a {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  color: #a0aec0;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.sidebar-nav a:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.sidebar-nav a.active {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: bold;
  color: #ffffff;
  transform: scale(1.1);
  text-shadow: 0 0 6px #00e0ff;
}
.sidebar-nav a.active::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: #00e0ff;
  border-radius: 50%;
}

/* 📱 Tablet - 992px ve altı */
@media (max-width: 992px) {
  .sidebar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-nav {
    display: none;
  }
}

/* 📱 Büyük Telefon - 768px ve altı */
@media (max-width: 768px) {
  /* Büyük telefonlar için stiller */
}

/* 📱 Küçük Telefon - 576px ve altı */
@media (max-width: 576px) {
  /* Küçük telefonlar için stiller */
}
