.about-container {
  width: 55%;
  text-align: justify;
}

/* 💻 Laptop - 1200px ve altı */
@media (max-width: 1200px) {
  .about-container {
    width: 65%;
  }
}

/* 📱 Tablet - 992px ve altı */
@media (max-width: 992px) {
  .about-container {
    width: 90%;
  }
}

/* 📱 Büyük Telefon - 768px ve altı */
@media (max-width: 768px) {
  .about-container {
    width: 90%;
  }
}

/* 📱 Küçük Telefon - 576px ve altı */
@media (max-width: 576px) {
  .about-container {
    width: 90%;
  }
}
